main{
    margin: 50px;
    padding: 40px;
}

.beatriz{
    background-color: #4CAD53;
}

#saude{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#saudetext{
    text-align: justify;
    align-items: center;
    padding: 20px;
}

#saude img{
    height: 80%;
    width: 80%;
    border-radius: 10px;
}

#imp{
    text-align: justify;
    align-items: center;
    padding: 20px;
    background-color: #6efb6c5b;
    border-radius: 10px;
}

#cuid{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

#cuid img{
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

#cuidtext{
    text-align: justify;
    align-items: center;
    padding: 5px;
}

#ayuda{
    text-align: justify;
    align-items: center;
    padding: 20px;
    background-color: #6efb6c5b;
    border-radius: 10px;
}

footer{
    background-color: #4CAD53;
    text-align: center;
}