main{
    margin: 50px;
    padding: 40px;
}

.beatriz{
    background-color: #4CAD53;
}

#intro{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#introtext{
    margin: 50px;
    text-align: justify;
    align-items: center;
    padding: 20px;
}

button{
    padding: 10px;
    background-color: #72f34bb6;
    border-radius: 3px;
    margin-top: 10px;
}

#obj{
    text-align: justify;
    background-color: #6efb6c5b;
    padding: 30px;
    border-radius: 10px;
}

#quem{
    text-align: justify;
    padding: 30px;
}

#forms{
    background-color: #6efb6c5b;
    padding: 50px;
    border-radius: 10px;
}

.carousel{
    margin: 0 auto;
    padding: 10px;
    box-shadow: 2px 2px 9px rgb(80, 245, 116);
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 500px;
    height: 500px;
}

#ODSimagem{
    width: auto;
    height: 40%;
}

footer{
    background-color: #4CAD53;
    text-align: center;
}
body {
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
  }
  
  body.dark-mode {
    background-color: #252525;
    color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #1e3d1e;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.9);
}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #b1b1b1;
}

.fa-sun {
  color: #f39c12;
}