main{
    margin: 50px;
    padding: 40px;
}

.beatriz{
    background-color: #4CAD53;
}

#bene{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

#bene img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
}

#benetext{
    text-align: justify;
    padding: 20px;
}

#imp{
    text-align: justify;
    align-items: center;
    padding: 20px;
    background-color: #6efb6c5b;
    border-radius: 10px;
}

#bons{
    text-align: justify;
    align-items: center;
    padding: 20px;
}

#dia{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 20px;
    background-color: #6efb6c5b;
    border-radius: 10px;
}

#dia img{
    height: 50%;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

#diatext{
    text-align: justify;

}

#tipos{
    text-align: justify;
    align-items: center;
    padding: 20px;
}

#tipos img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

footer{
    background-color: #4CAD53;
    text-align: center;
}